#--- APP ---#
ENVIRONMENT="test"
DEBUG=True
EMBEDDING_MODEL='NeuML/pubmedbert-base-embeddings'

# HOST
FHIR_SERVER_HOST="https://api.medplum.com"
FHIR_BASE_URL="/fhir/R4"
LOINC_ENDPOINT="https://loinc.regenstrief.org/searchapi/loincs"

# FHIR SERVER CREDENTIALS
FHIR_SERVER_CLIENT_ID='client-id'
FHIR_SERVER_CLIENT_SECRET='client-secret'

# LOINC CREDENTIALS
LOINC_USERNAME='loinc-username'
LOINC_PASSWORD='loinc-password'

# PINECONE KEY
PINECONE_API_KEY='pinecone-api-key'

# ENCRYPTION - use scripts/generate_master_key.py to obtain
MASTER_KEY="master-key"
